<div class="pointblankContainer">
  <div class="navContainer">
    <a class="nav-link" routerLink="/teachmehow" style="float:left;">Teach Me How</a>
    <a class="nav-link" routerLink="/polished" style="float:right;">Polished</a>
  </div>
  <h1>Point Blank</h1>

  <md-grid-list cols="2">

    <md-grid-tile>
      <div class="sectContainer">
         <p>Point Blank is a social platform for learning about the public perception of influential individuals.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/intro.png" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/login.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>To begin learning about todays most influential people, login to your account or signup using facebook. Our authentication is provided through Passport.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>Search or filter through your person of interest and get a quick feel for their overall general rating.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/search.png" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/profile.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>When you find someone you're interested in, click on their profile to see what people have to say about them or give others your two cents!</p>
      </div>
    </md-grid-tile>

  </md-grid-list>

  <md-grid-list cols="5">
    <md-grid-tile>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/94/49/f9/9449f94a429ca1e81757771c58fc5813.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://baracus.com/img/express.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="https://webassets.mongodb.com/_com_assets/cms/MongoDB-Logo-5c3a7405a85675366beb3a5ec4c032348c390b3f142f5e6dddf1d78e2df5cb5c.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://mongodb-tools.com/img/mongoose.png" alt="">
    </md-grid-tile>
  </md-grid-list>

  <!--<div class="navContainer">
    <a class="nav-link" routerLink="/teachmehow" style="float:left;">Teach Me How</a>
    <a class="nav-link" routerLink="/polished" style="float:right;">Polished</a>
  </div>-->

    <div class="leftContainer">
      <a class="nav-link" routerLink="/teachmehow">Teach Me How</a>
    </div>
    <div class="rightContainer">
      <a class="nav-link" routerLink="/polished">Polished</a>
    </div>
</div>