<div class="pointblankContainer">
  <!--<div class="navContainer">
    <a href="applications/teachmehow" style="float:left;">Teach Me How</a>
    <a href="applications/polished" style="float:right;">Polished</a>
  </div>-->
  <h1>Point Blank</h1>

  <md-grid-list cols="2">

    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Splash</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>Point Blank is a social platform for learning about publics perception of the most influential individuals today.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/splash.png" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/login.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Login/Signup</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>To begin learning about todays most influential people, login to your account or signup using facebook. Our authentication is provided through Passport.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Serch for Influential People</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p></p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/search.png" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/combine_images_4.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>See Their Profile</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>When you find someone you like, click on on their profile to see more information. Users can see pictures of that artist previous work, as well as customer reviews.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Book Nail Artist</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>Once the user finds someone they like, they can book the artist and pay for their service using a credit card or paypal.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/combine_images_5.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/combine_images_6.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Review Nail Artist</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>After the service has been provided, users can review the nail artist. Users have the ability to rate their experience, upload a picture of the result service, and/or leave a comment.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Nail Artist Dashboard</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>As a vender, nail artists have the ability keep track of their upcoming appointments and get analytics regarding their monthly income/rating.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/combine_images_7.jpg" alt="">
      </div>
    </md-grid-tile>
    
  </md-grid-list>

  <div class="navContainer">
    <a href="applications/teachmehow" style="float:left;">Teach Me How</a>
    <a href="applications/polished" style="float:right;">Polished</a>
  </div>
</div>