<div class="pointblankContainer">
  <!--<div class="navContainer">
    <a href="applications/teachmehow" style="float:left;">Teach Me How</a>
    <a href="applications/polished" style="float:right;">Polished</a>
  </div>-->
  <h1>Point Blank</h1>

  <md-grid-list cols="2">

    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Splash</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>Point Blank is a social platform for learning about publics perception of the most influential individuals today.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/intro.png" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/login.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Login/Signup</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>To begin learning about todays most influential people, login to your account or signup using facebook. Our authentication is provided through Passport.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Serch for Influential People</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>Search or filter through your person of interest and get a quick feel for their overall general rating.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/search.png" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointblank/profile.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <md-grid-tile-header>
        <h3>Person of Interest Profile</h3>
      </md-grid-tile-header>
      <div class="sectContainer">
         <p>When you find someone you're interested in, click on their reviews to see what people have to say about them. But don't just stop their, tell us how you feel about this person so others know too!</p>
      </div>
    </md-grid-tile>

    
  </md-grid-list>

  <div class="navContainer">
    <a href="applications/teachmehow" style="float:left;">Teach Me How</a>
    <a href="applications/polished" style="float:right;">Polished</a>
  </div>
</div>