<div class="expertContainer">
  <h1>Expertise</h1>
  <div class="containerr">
    <div class="item">
      <div class="expertFig">
        Front-End Development
      </div>
      <!--<br>-->
      <br>
      <br>
      <div class="expertiseText">
        HTML5, CSS3, Javascript, jQuery, Angular 1.x, Angular 2, React, Agile development, CRUD, Sass...
      </div>
    </div>


    <div class="item">
      <div class="expertFig">
        Back-End
        Development
      </div>
      <!--<br>-->
      <br>
      <br>
      <div class="expertiseText">
        Node.js, Express.js, MySQL, PostgreSQL, NoSQL, Sequilize, MongoDB, Moongoose...  
      </div>
    </div>


    <div class="item">
      <div class="expertFig">
        Mobile
        Developement
      </div>
      <!--<br>-->
      <br>
      <br>
      <div class="expertiseText">
        Cross platform development, Ionic 2, Ionic Native, Cordova, Xcode, Android Studio, responsive design...
      </div>
    </div>
  </div> 


</div>



