<div>
  <md-grid-list cols="3">
    <md-grid-tile>
      <h2>Front-End Development</h2>
    </md-grid-tile>

    <md-grid-tile>
      <h2>Back-End Development</h2>
    </md-grid-tile>

    <md-grid-tile>
      <h2>Mobile Developement</h2>
    </md-grid-tile>
    
  </md-grid-list>

  <md-grid-list cols="3">
    <md-grid-tile>
      First tile!
    </md-grid-tile>
    <md-grid-tile>
      Second tile!
    </md-grid-tile>
    <md-grid-tile>
      Third tile!
    </md-grid-tile>
  </md-grid-list>

  
</div>
