<div>
  <md-card>
    <md-card-title>Contact Information</md-card-title>
    <md-card-content>
      To get in touch with me, feel free to use any of the links below.
    </md-card-content>
    
    <md-card-content>
      Gmail: 
    </md-card-content>

    <md-card-content>
      Linkedin: 
    </md-card-content>

    <md-card-content>
      Github: 
    </md-card-content>

    <md-card-content>
      Facebook: 
    </md-card-content>

    <md-card-content>
      Twitter: 
    </md-card-content>

  </md-card>
</div>


