div {
    position: relative;
    /*background-color: lightgrey;*/
    /*width: 90%;
    height: 90%;*/
    /*margin: auto auto auto auto;*/
    padding: 2%;
    text-align: center;
    background-color: #CACACA;
    font-family: 'IM Fell Great Primer SC', serif;
}

/*md-card {
    position: relative;
}*/

i {
    font-size: 230px;
}

a {
    color: black;
    text-decoration: none;
    padding: 0 5%;
    font-family: 'IM Fell Great Primer SC', serif;
}

