<!--<div>-->
  <!--<h1>Contact Information</h1>-->
  <!--<md-card>
    <md-card-title>Contact Information</md-card-title>
    <md-card-content>
      To get in touch with me, feel free to use any of the links below.
    </md-card-content>-->
    
    <!--<div>
      <i class="fa fa-envelope"></i>
      <i class="fa fa-github-square"></i>
      <i class="fa fa-linkedin-square"></i>
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
    </div>-->

      <!--<span>
        <a target="_blank" href="mailto:joseacuchilla@gmail.com"><i class="fa fa-envelope"></i></a>
        <a target="_blank" href="https://github.com/jacuchilla"><i class="fa fa-github-square"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/jacuchilla"><i class="fa fa-linkedin-square"></i></a>
        <a target="_blank" href="https://www.facebook.com/jose.cuchilla"><i class="fa fa-facebook-square"></i></a>
        <a target="_blank" href="https://twitter.com/Jose__Cuchilla"><i class="fa fa-twitter-square"></i></a>
      </span>-->

    <!--<div>
      Gmail: <a href=""><i class="fa fa-envelope"></i></a>
      Github: <a href=""><i class="fa fa-github-square"></i></a>
      Linkedin: <a href=""><i class="fa fa-linkedin-square"></i></a>
      Facebook: <a href=""><i class="fa fa-facebook-square"></i></a>
      Twitter: <a href=""><i class="fa fa-twitter-square"></i></a>
    </div>-->

    <!--<md-card-content>
      Gmail: <i class="fa fa-envelope"></i>
    </md-card-content>

    <md-card-content>
      Github: <i class="fa fa-github-square"></i>
    </md-card-content>

    <md-card-content>
      Linkedin: <i class="fa fa-linkedin-square"></i>
    </md-card-content>

    <md-card-content>
      Facebook: <i class="fa fa-facebook-square"></i>
    </md-card-content>

    <md-card-content>
      Twitter: <i class="fa fa-twitter-square"></i>
    </md-card-content>-->

  <!--</md-card>
</div>-->

<div>
  <h1>Contact Information</h1>
  <p>You can get in touch with me through email, Github, Linkedin, Facebook, or Twitter.</p>
    <div>
      <a target="_blank" href="mailto:joseacuchilla@gmail.com"><i class="fa fa-envelope"></i></a>
      <a target="_blank" href="https://github.com/jacuchilla"><i class="fa fa-github-square"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/jacuchilla"><i class="fa fa-linkedin-square"></i></a>
      <a target="_blank" href="https://www.facebook.com/jose.cuchilla"><i class="fa fa-facebook-square"></i></a>
      <a target="_blank" href="https://twitter.com/Jose__Cuchilla"><i class="fa fa-twitter-square"></i></a>
    </div>
</div>





