div {
    position: relative;
    /*background-color: lightgrey;*/
    /*width: 90%;
    height: 90%;*/
    /*margin: auto auto auto auto;*/
    padding: 10%;
    text-align: center;
}

i {
    font-size: x-large;
}