
<md-sidenav-container>
  <md-sidenav #sidebar mode="side" opened="true">
    <div class="sideNavContainer">

      <h1>Jose A. Cuchilla</h1>
      <br>

      <img src="../assets/jcuchilla.jpg" id="profilePic">

      <br>
      <h4>Software Engineer & Web Developer</h4>
      <br>
      <hr>
      <div class="navContainer">
        <ul>
          <!--<a class="nav-link" routerLink="home">Home</a>-->
          <li><a class="nav-link" routerLink="about" routerLinkActive="active">About</a></li>
          <li><a class="nav-link" routerLink="expertise">Expertise</a></li>
          <li><a class="nav-link" routerLink="applications">Applications</a>
            <!--<ul>
              <li>Polished</li>
              <li>Teach Me How</li>
              <li>Point Blank</li>
            </ul>-->
          </li>
            <!--<md-menu #menu="mdMenu" style="padding-top: 480px" [mdMenuTriggerFor]="menu">
                <button md-menu-item>Profile</button>
                <button md-menu-item>Settings</button>
                <button md-menu-item>Account</button>
                <button md-menu-item>Sign Out</button>
            </md-menu>-->
          <li><a class="nav-link" routerLink="resume">Resume</a></li>
          <li><a class="nav-link" routerLink="contact">Contact</a></li>
        </ul>
      </div>
        <hr>
    </div>
  </md-sidenav>
  <md-toolbar color="primary">
        <div (click)="sidebar.toggle()">
          <span id="hamburger">☰</span>
        </div>
        <span *ngIf="!sidebar.opened" id="name"> Jose A. Cuchilla</span>
        <span class="example-fill-remaining-space"></span>
        <span *ngIf="!sidebar.opened">
          <a class="topNav" routerLink="about" routerLinkActive="active">About</a>
          <a class="topNav" routerLink="expertise">Expertise</a>
          <a class="topNav" routerLink="applications">Applications</a>
          <a class="topNav" routerLink="resume">Resume</a>
          <a class="topNav" routerLink="contact">Contact</a>
        </span>
  </md-toolbar>
  
  <div class="routerView">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>





