
<md-sidenav-container>
  <md-sidenav #sidebar mode="side" opened="true">
    <div class="sideNavContainer">
      <br>
      <br>

      <img src="../assets/jcuchilla.jpg" id="profilePic">

      <br>
      <h1>Jose A. Cuchilla</h1>
      <h4>Software Engineer & Web Developer</h4>
      <br>
      <hr>
      <div class="navContainer">
        <ul>
          <!--<a class="nav-link" routerLink="home">Home</a>-->
          <li><a class="nav-link" routerLink="about" routerLinkActive="active">About</a></li>
          <li><a class="nav-link" routerLink="expertise">Expertise</a></li>
          <li><a class="nav-link" routerLink="applications">Applications</a></li>
          <li><a class="nav-link" routerLink="resume">Resume</a></li>
          <li><a class="nav-link" routerLink="contact">Contact</a></li>
        </ul>
      </div>
        <hr>
    </div>
  </md-sidenav>
  <div>
      <span (click)="sidebar.toggle()">
        <a>☰</a>
      </span>
      <!--<span>
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        <a class="nav-link" routerLink="expertise">Expertise</a>
        <a class="nav-link" routerLink="applications">Applications</a>
        <a class="nav-link" routerLink="resume">Resume</a>
        <a class="nav-link" routerLink="contact">Contact</a>
      </span>-->
  </div>
  
  <div class="routerView">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>





