md-sidenav-container {
   position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}

md-sidenav {
    width: 25%;
    height: 100%;
}


/*
button {
    position: absolute;
}*/

/*div span {
    display: block;
    margin: auto auto auto 10px;
    position: fixed;
    top: 5px;
    right: 0;
    left: 10px;
    padding: 15px
}*/

.routerView {
    margin: 0 0 0 auto;
}

.sideNavContainer {
    /*display: block;*/
    margin: auto auto auto auto;
}

#profilePic {
    display: block;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    margin: auto;
}

h1, h4 {
    text-align: center;
}

li, li a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
}

/*.navContainer {
    display: block;
    margin-left: 10%;
}*/

hr {
    width: 60%;
}

/*header {
    background-color: whitesmoke;
    height: 5%;
    transition: left 0.2s;
}*/

md-toolbar {
    /*background-color: whitesmoke;*/
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.topNav {
    text-decoration: none;
    color: black;
    padding: 8px;
    font-size: 16px;
}

/*#name {
    margin: auto;
}*/

md-toolbar {
    /*background-color: black;*/
    border-bottom: 2px solid black;
}

#hamburger {
    color: black;
}