
<h1>Jose Cuchilla</h1>
<h3>Full-Stack Software Engineer</h3>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <!--<a class="nav-link" routerLink="home">Home</a>-->
  <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
  <a class="nav-link" routerLink="expertise">Expertise</a>
  <a class="nav-link" routerLink="applications">Applications</a>
  <a class="nav-link" routerLink="resume">Resume</a>
  <a class="nav-link" routerLink="contact">Contact</a>
</nav>

<router-outlet></router-outlet>
