
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse"> 
  <div class="container">
    <a class="navbar-brand">Jose Cuchilla</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLinnk="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinnk="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLinnk="expertise">Expertise</a></li>
      <li class="nav-item"><a class="nav-link" routerLinnk="applications">Applications</a></li>
      <li class="nav-item"><a class="nav-link" routerLinnk="resume">Resume</a></li>
      <li class="nav-item"><a class="nav-link" routerLinnk="contact">Contact</a></li>
    </ul>
  </div>
</nav>

<h1>
  {{title}}
</h1>
