h1 {
    text-align: center;
    /*border: 2px solid black;*/
}

/*.navContainer {
    display: block;
    clear: both;
}*/

a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: black;
}

.polishedContainer {
    padding: 10px;
    background-color: #808080;
}

md-grid-tile-header {
    background-color: #808080;
    color: black;
    /*border-radius: 2%;*/
}

img {
    /*height: 450px;*/
    width: 100%;
    /*border-radius: 7.5%;*/
    /*border: 2px solid black;*/
}

p {
    font-size: 1.6vw;
    padding: 5%;
}

.sectContainer {
    margin: 5%;
}


/*li {
    display: inline-block;
    padding: 0 15%;
}*/

.leftContainer {
    display: inline-block;
}

.rightContainer {
    float: right;
}



