<div class="polishedContainer">
  <div class="navContainer">
    <a class="nav-link" routerLink="/pointblank" style="float:left;">Point Blank</a>
    <a class="nav-link" routerLink="/teachmehow" style="float:right;">TeachMeHow</a>
  </div>

  <!--<br>
  <br>
  <br>
  <br>-->

  <div class="jumbotron">
    <h1>Polished</h1>
    "An on-demand application bringing nail-artists to you."
  </div>

  <br>
  <br>
  <!--<br>
  <br>-->

  <md-grid-list cols="2">

    <md-grid-tile>
      <!--<md-grid-tile-header>
        <h3>Login, Signup, & Dashboard</h3>
      </md-grid-tile-header>-->
      <div class="sectContainer">
         <p>Sign-up for a customer account. Or if you're a license nail technician, sign-up for a vender account.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_1.jpg" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_2.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Once logged in, you can use our booking page to search for a nail artist around your area.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>If you want more options you can also search for more nail artists around you.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_3.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_4.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>You can see user generated pictures and reviews of any nail artist.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>When you find someone you like, book the artist and pay for their service with a credit card or paypal.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_5.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_6.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Customers have the ability to rate their experience, upload a picture of their nails, and even leave a comment.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>Venders have the ability to keep track of their upcoming appointments and get monthly income analytics.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_7.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_8.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Venders also have the ability to get directions to and from their customers.</p>
      </div>
    </md-grid-tile>

  </md-grid-list>

  <!--<br>
  <br>-->

  <md-grid-tile-header>
    <p>This app was built with...</p>
  </md-grid-tile-header>

  <md-grid-list cols="5">
    <md-grid-tile>
      <img src="https://ionicthemes.com/img/v2_logo-icon.png" alt="">
    </md-grid-tile>
    <!--http://ionic.io/img/2.png-->
    <md-grid-tile>
      <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://baracus.com/img/express.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://avid.cs.umass.edu/courses/345/f2014/postgreSQL_Logo.png" alt="">
    </md-grid-tile>
    <!--https://www.postgresql.org/media/img/about/press/elephant.png-->
    <md-grid-tile>
      <img src="https://milinaudara.files.wordpress.com/2014/05/logo.png" alt="">
    </md-grid-tile>
  </md-grid-list>
</div>





