<div class="polishedContainer">
  <div class="navContainer">
    <a class="nav-link" routerLink="/pointblank" style="float:left;">Point Blank</a>
    <a class="nav-link" routerLink="/teachmehow" style="float:right;">Teach Me How</a>
  </div>
  <h1>Polished</h1>

  <md-grid-list cols="2">

    <md-grid-tile>
      <!--<md-grid-tile-header>
        <h3>Login, Signup, & Dashboard</h3>
      </md-grid-tile-header>-->
      <div class="sectContainer">
         <p>Sign-up for a customer account or if you're a license nail technician, sign-up for a vender account.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_1.jpg" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_2.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Once logged in, you can use our booking page to search for a nail artist around your area.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>If you want more options, search more artist and see whose available around you.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_3.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_4.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>When you find someone you like, click on on their profile to see user generated pictures and reviews of the artist.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>Once you find someone you like, book the artist and pay for their service using a credit card or paypal.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_5.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_6.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>After the service has been provided, you can review the nail artist. Users have the ability to rate their experience, upload a picture of the result service, and/or leave a comment.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>As a vender, you have the ability to keep track of your upcoming appointments and get analytics regarding your monthly income and customer rating.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_7.jpg" alt="">
      </div>
    </md-grid-tile>

  </md-grid-list>

  <md-grid-list cols="5">
    <md-grid-tile>
      <img src="https://ionicthemes.com/img/v2_logo-icon.png" alt="">
    </md-grid-tile>
    <!--http://ionic.io/img/2.png-->
    <md-grid-tile>
      <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://baracus.com/img/express.png" alt="">
    </md-grid-tile>
    <md-grid-tile>
      <img src="http://avid.cs.umass.edu/courses/345/f2014/postgreSQL_Logo.png" alt="">
    </md-grid-tile>
    <!--https://www.postgresql.org/media/img/about/press/elephant.png-->
    <md-grid-tile>
      <img src="https://milinaudara.files.wordpress.com/2014/05/logo.png" alt="">
    </md-grid-tile>
  </md-grid-list>

  <div class="leftContainer">
    <a class="nav-link" routerLink="/pointblank">Point Blank</a>
  </div>
  <div class="rightContainer">
    <a class="nav-link" routerLink="/teachmehow">Teach Me How</a>
  </div>
</div>





