<div class="appContainer">
  <h1>Applications</h1>

  <md-grid-list cols="3" rowHeight="3:2">
    <md-grid-tile>
      <div>
        <a class="nav-link" routerLink="/polished">
          <img src="../assets/polishedPics/intro2.png" alt="">
        </a>

      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div>
        <a class="nav-link" routerLink="/teachmehow">
          <img src="../assets/teachmehow/1splash.png" alt="">
        </a>
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div>
        <a class="nav-link" routerLink="/pointblank">
          <img src="../assets/pointblank/intro1.png" alt="">
        </a>
        
      </div>
    </md-grid-tile>
  </md-grid-list>

  <md-grid-list cols="3" rowHeight="3:1">
    <md-grid-tile>
      <div class="expert">
        <a class="nav-link" routerLink="/polished">Polished</a>
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="expert">
        <a class="nav-link" routerLink="/teachmehow">Teach Me How</a>
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <div class="expert">
        <a class="nav-link" routerLink="/pointblank">Point Blank</a>
      </div>
    </md-grid-tile>
    
  </md-grid-list>

</div>