<div class="resumeContainer">
  <!--<div>-->
    <!--<h1>Resume</h1>  -->
  <!--</div>-->
  
  <!--<p>My resume can be found below. Feel free to download or print it.</p>-->
  <!--<pdf-viewer [src]="pdfSrc" 
              [page]="page" 
              [original-size]="false" 
              style="display: block;"
              [render-text]="true"
              [zoom]="1.2"
  ></pdf-viewer>
  <br>
  <br>-->
  <!--<md-card>-->
    <!--<div>-->
      <iframe width="80%" height="95%" [src]="pageurl" type="application/pdf"></iframe>
    <!--</div>-->
  <!--</md-card>-->
</div>
