<div class="teachmehowContainer">
  <div class="navContainer">
    <a class="nav-link" routerLink="/polished" style="float:left;">Polished</a>
    <a class="nav-link" routerLink="/pointblank" style="float:right;">Point Blank</a>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="jumbotron">
    <h1>Teach Me How</h1>
    "A social learning platform that connects teachers with students."
  </div>

  <br>
  <br>
  <br>
  <br>

    <md-grid-list cols="2">

    <md-grid-tile>
      <div class="sectContainer">
         <p>Teach Me How connects people interested in teaching with people interested in learning.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/1splash.png" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/2login.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Securely login or signup via Facebook, Gmail, or LinkedIn.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>Modify your account and see a list of you're current classes.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/3profile.png" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/1splash.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>If you're interested in learning, browse through the classes being taught or specifically search for a class.</p>
      </div>
    </md-grid-tile>


    <!--<md-grid-tile>
      <div class="sectContainer">
         <p>When you find a class, signup to take the class. You have the ability to directly pay for the class online.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="" alt="">
      </div>
    </md-grid-tile>-->

    <md-grid-tile>
      <div class="sectContainer">
         <p>Once you choose a class navigate to the classroom portal and prepare to learn via our live videostreaming feature. Use the chat functionality to post questions during class.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/6classroom.png" alt="">
      </div>
    </md-grid-tile>



    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/7tutoring.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>You can also attend 1:1 meetings by clicking on the tutoring button. When your teacher is ready, log into the video chat and prepare to have a 1:1 with your instructor.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>If you're interested in teaching a class, create a class. As an instructor, you have the option of teaching in person or online by adding your Youtube channel ID.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/4instructordash.png" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/teachmehow/8request.png" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>If a class you're interested in is not being offered, create a request ticket for someone to teach the class.</p>
      </div>
    </md-grid-tile>
    
  </md-grid-list>
    

  <!--<div class="navContainer">
    <a class="nav-link" routerLink="/polished" style="float:left;">Polished</a>
    <a class="nav-link" routerLink="/pointblank" style="float:right;">Point Blank</a>
  </div>-->

    <br>

    <md-grid-tile-header>
      <p>This app was built with...</p>
    </md-grid-tile-header>

    <md-grid-list cols="5">
      <md-grid-tile>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/94/49/f9/9449f94a429ca1e81757771c58fc5813.png" alt="">
      </md-grid-tile>
      <md-grid-tile>
        <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" alt="">
      </md-grid-tile>
      <md-grid-tile>
        <img src="http://baracus.com/img/express.png" alt="">
      </md-grid-tile>
      <md-grid-tile>
        <img src="http://avid.cs.umass.edu/courses/345/f2014/postgreSQL_Logo.png" alt="">
      </md-grid-tile>
      <md-grid-tile>
        <img src="https://milinaudara.files.wordpress.com/2014/05/logo.png" alt="">
      </md-grid-tile>
    </md-grid-list>

    <div class="leftContainer">
      <a class="nav-link" routerLink="/polished">Polished</a>
    </div>
    <div class="rightContainer">
      <a class="nav-link" routerLink="/pointblank">Point Blank</a>
    </div>
</div>