h1 {
    text-align: center;
    font-family: 'IM Fell Great Primer SC', serif;
}

.navContainer {
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: black;
    font-family: 'IM Fell Great Primer SC', serif;
}

.teachmehowContainer {
    padding: 10px;
    background-color: #808080;
}

img {
    /*height: 450px;*/
    width: 100%;
    /*border-radius: 7.5%;*/
    /*border: 2px solid black;*/
}

p {
    font-size: 2.6vw;
    padding: 5%;
    font-family: 'IM Fell Great Primer SC', serif;
}

.leftContainer {
    display: inline-block;
}

.rightContainer {
    float: right;
}


.jumbotron {
    text-align: center;
    font-size: 30px;
    padding: 10%;
    background-color: #B5B3B2;
    /*border-radius: 48%;*/
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
