<div class="teachmehowContainer">
  <div class="navContainer">
    <a href="applications/polished" style="float:left;">Polished</a>
    <a href="applications/pointblank" style="float:right;">Point Blank</a>
  </div>
  <h1>Teach Me How</h1>
    <md-grid-list cols="2">

    <md-grid-tile>
      <div class="sectContainer">
         <p>Interested in having your nails done at home by a license nail technician? Sign-up for a customer account. If you're a license nail technician, sign-up for a vender account. Simply provide your technician license and we do the rest by validating this information using the Board of Barbering and Cosmetology database. </p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/pointBlank/1splash.png" alt="">
      </div>
    </md-grid-tile>
    

    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_2.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>Once logged in, customers can use our booking page to search for a nail artist around their area. Customers can choose different types of services, including manicures, pedicures, or mani-pedis. Users also have the ability to add extra services such as nail art, hand massage, and cucumber location. If the customer wants to have the service provided at their current location, they can choose the gps feature to grad their exact location or manually enter the location.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>If you want more options, click on the Search More button and see whose available around you.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_3.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_4.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>When you find someone you like, click on on their profile to see more information. Users can see pictures of that artist previous work, as well as customer reviews.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>Once the user finds someone they like, they can book the artist and pay for their service using a credit card or paypal.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_5.jpg" alt="">
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_6.jpg" alt="">
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
         <p>After the service has been provided, users can review the nail artist. Users have the ability to rate their experience, upload a picture of the result service, and/or leave a comment.</p>
      </div>
    </md-grid-tile>


    <md-grid-tile>
      <div class="sectContainer">
         <p>As a vender, nail artists have the ability keep track of their upcoming appointments and get analytics regarding their monthly income/rating.</p>
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <div class="sectContainer">
        <img class="rightImg" src="../assets/polishedPics/combine_images_7.jpg" alt="">
      </div>
    </md-grid-tile>
    
  </md-grid-list>

  <div class="navContainer">
    <a href="applications/polished" style="float:left;">Polished</a>
    <a href="applications/pointblank" style="float:right;">Point Blank</a>
  </div>
</div>